.group{
    width: 300px;
    background:transparent;
    margin-left: 550px;
    border: solid 1px orange;
}

.divgroup{
    margin-left: 250px;
}

.group1{
    width: 300px;
    background: transparent;
    border: solid 1px orange;
    text-align: center ;
    margin: 50px auto;
    display: inline-block;
    
}

.inputContent{
    text-align: center;
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background: rgba(255,255,255,.2);
}

.comboBoxContent{
    text-align: center;
    width: 150px;
    height: 30px;
    background: rgba(255,255,255,.2);
    border: none;
    border-radius: 10px;
}

.submitContent{
    text-align: center;
    display: block;
    margin-left: 350px;
    width: 200px;
    height: 30px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background: rgba(255,255,255,.2);
}

h2{
    text-align: center;
    background: rgba(255,255,255,.2);
    color: black;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

body{
    background-image: url(../images/webimage.jpg);
}

p{
    text-align: center;
    margin: 10px;
}