.login{
    width: 300px;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    border-style: dashed;
    border-color: #444444;
    border-width: 3px;
    mso-border-shadow: 2px;
}

form{
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 40px;

}

h2{
    text-align: center;
    background: rgba(255,255,255,.2);
    color: #444444;
    padding: 10px;
    border-radius: 20px;
}


input{
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    width: 250px;
}

body{
    background-image: url(../images/webimage.jpg);
}


.form-styling {
    width: 100%;
    height: 35px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    background: rgba(255,255,255,.2);
}
.lab{
    text-align: left;
    padding-left: 20%;
    color: #444444;

}
.signin{
    background: rgba(255,255,255,.2);
    color: #444444;
    float: left;
    padding-top: 8px;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 20px;
    margin-top: -8px;
}