.content {
    width: 610px;
}
.mySidebar {
    width: 600px;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 8px;
    font-size: 8px;
    border: none;
    cursor: pointer;
    float: right;

}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    padding-right: 30px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    font-size:30%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 3px 4px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.one {
    border: 4px solid grey;
    background-color: lightgrey;
    padding-left:20px;
    padding-top:5px;
}
.nav{
    float: right;
    text-align: right;
    font-size:50%;
    padding-right:8px;
}

.two {
    border-bottom: 3px solid green;
    background-color: lightgrey;
    padding-bottom:3px;
    padding-left:5px;
}
div.c {
    font-size: 200%;
}
div.y {
    font-size: large;
}
div.k{
    color:green;
}

.btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.info {color: dodgerblue;}

