.content {
    width: 610px;
}

.mySidebar {
    width: 600px;
}

.one {
    border: 4px solid grey;
    background-color: lightgrey;
    padding-left: 20px;
    padding-top: 5px;
}

.nav {
    float: right;
    text-align: right;
    font-size: 50%;
    padding-right: 8px;
}

.two {
    border-bottom: 3px solid green;
    background-color: lightgrey;
    padding-bottom: 3px;
    padding-left: 5px;
}

div.c {
    font-size: 200%;
}

div.y {
    font-size: large;
}

div.k {
    color: green;
}

.btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.info {
    color: dodgerblue;
}