.addStaff{
    width: 600px;
    margin: auto;
    background:#32CD32;
    margin-top: 50px;
    padding: 10px;
}

form{
    padding: 10px;
    border: 1px solid orange
}

h2{
    text-align: center;
    background-color: orange;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

input{
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    border: none;
    width: 250px;
}

body{
    background-image: url(../images/webimage.jpg);
}