.addStaff{
    width: 600px;
    margin: auto;
    background:transparent;
    margin-top: 50px;
    padding: 10px;
}

.inputadd{
    text-align: center;
    color: #444444;
    padding: 10px;
    border-radius: 20px;
    background: rgba(255,255,255,.2);
}

.inputtext{

    text-align: start;
    width: 40%;
    padding-left: 10px;
    height: 35px;
    margin-left: 40px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    background: rgba(255,255,255,.2);
}
.submit{
    width: 20%;
    padding-left: 10px;
    height: 35px;
    margin-left: 40px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    background: rgba(255,255,255,.2);
    margin-left: 40%;



}
.fixed-size{
    background: rgba(255,255,255,.2);
    padding-left: 5px;
    border: thin;
    border-radius: 20px;
}
body{
    background-image: url(../images/webimage.jpg);
}