<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

    <filter>
        <filter-name>StaffAuthorizationFilter</filter-name>
        <filter-class>ge.mziuri.servlet.filter.StaffAuthorizationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>StaffAuthorizationFilter</filter-name>
        <url-pattern>/sas/admin/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>StaffAddServlet</servlet-name>
        <servlet-class>ge.mziuri.servlet.StaffAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaffAddServlet</servlet-name>
        <url-pattern>/sas/admin/addStaff</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>ge.mziuri.servlet.StaffLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoadCourseServlet</servlet-name>
        <servlet-class>ge.mziuri.servlet.LoadCoursesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadCourseServlet</servlet-name>
        <url-pattern>/loadCourses</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoadStaffServlet</servlet-name>
        <servlet-class>ge.mziuri.servlet.LoadStaffsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadStaffServlet</servlet-name>
        <url-pattern>/loadStaffs</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoadStudentServlet</servlet-name>
        <servlet-class>ge.mziuri.servlet.LoadStudentsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadStudentServlet</servlet-name>
        <url-pattern>/loadStudents</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FileUploadDBServlet</servlet-name>
        <servlet-class>ge.mziuri.servlet.FileUploadDBServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadDBServlet</servlet-name>
        <url-pattern>/uploadServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditStaffServlet</servlet-name>
        <servlet-class>ge.mziuri.servlet.EditStaffServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditStaffServlet</servlet-name>
        <url-pattern>/editStaff</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <servlet-class>ge.mziuri.servlet.DeleteStaffServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <url-pattern>/deleteStaff</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddCourseServlet</servlet-name>
        <servlet-class>ge.mziuri.servlet.AddCourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCourseServlet</servlet-name>
        <url-pattern>/uploadTest/addCourse</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <servlet-class>ge.mziuri.servlet.DeleteStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <url-pattern>/deleteStudent</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>DeleteCourseServlet</servlet-name>
        <servlet-class>ge.mziuri.servlet.DeleteCourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCourseServlet</servlet-name>
        <url-pattern>/deleteCourse</url-pattern>
    </servlet-mapping>

    <!--<servlet>-->
        <!--<servlet-name>EditCourseServlet</servlet-name>-->
        <!--<servlet-class>ge.mziuri.servlet.EditCourseServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>EditCourseServlet</servlet-name>-->
        <!--<url-pattern>/editCourse</url-pattern>-->
    <!--</servlet-mapping>-->

    <servlet>
        <servlet-name>EditStudentServlet</servlet-name>
        <servlet-class>ge.mziuri.servlet.EditStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditStudentServlet</servlet-name>
        <url-pattern>/editStudent</url-pattern>
    </servlet-mapping>







</web-app>